<% include ../partials/header%>


<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp</h1>
        <p>View out handpicked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
        </p>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(item){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=item.image%>" alt="">
                    <div class="caption">
                        <h4><%=item.name%></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%=item.id%>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    
    </div>

    <a href="/">Back</a>
        
</div>
<% include ../partials/footer%>